@use '../../Styles/color' as *;
@use '../../Styles/mixins' as *;

// Mobile-first: Base styles (mobile)
.hero {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2rem auto 2rem;
  max-width: 95%;

  .hero__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hero__description {
      text-align: left;

      p {
        margin-bottom: 1em;
        color: var(--color-hero-font);
      }
    }

    .hero__picture {
      margin-top: 2rem;

      img {
        @include image-base;
        box-shadow: var(--shadow-default);
      }
    }
  }
}

// Desktop: min-width 501px
@media (min-width: 501px) {
  .hero {
    padding: 0.5rem;
    width: 90%;
    margin-left: 5%;

    .hero__content {
      flex-direction: row;

      .hero__description,
      .hero__picture {
        width: 100%;
        box-sizing: border-box;
      }

      .hero__description {
        padding-right: 1rem;
      }

      .hero__picture {
        margin-top: 0;
      }
    }
  }
}
