@use '../../Styles/color' as *;

//Mobile
@media (max-width: 500px) {
  header {
    display: flex;
    max-width: 500px auto;
    background-color: var(--color-background);
    
    .header__content {
      display: flex;
      flex-direction: column;      /* lägg bild & text bredvid varandra */
      align-items: flex-start;      /* centrera vertikalt */
      width: 100%;
      gap: 1rem;
    
    .header__picture {
      order: 2;
        flex-shrink: 0;         /* låt inte bilden krympa */
        width: 40%;          /* liten rund bild på mobil */
        margin-top: -1rem;

      img {
        width: 100%; /* Gör så att bilden tar upp hela bredden */
          height: auto;
        display: block; /* säkrar att den inte beter sig inline */
        align-items: left;
        height: auto;
        border-radius: 50%;
        box-shadow: var(--shadow-default);
      }
    }
    
    //Samma som desktop
    .header__name {
      order: 1;
      display: flex;
      flex-direction: column; /* Gör så <p> och h2 staplas */
      align-items: flex-end;
      width: 100%; /* Gör så att namnet tar upp 100% av bredden */
      margin: 0; /* Tar bort extra marginaler */
      color: var(--color-headings);
      padding-bottom: 0.5rem;
      
      //Samma som desktop
      .header__description {
        margin-top: 0.25rem; /* Lite mellanrum under namnet */
        max-width: 18ch; // ungefär 20 tecken innan radbrytning
        text-align: right;
        padding-right: 1.5rem;
        color: var(--color-secondary);
      }
    }
  }
}
}

//Desktop
@media (min-width: 501px) {
header {
  display: flex;

  .header__content {
    display: flex; /* Gör så picture och name hamnar bredvid varandra */
    width: 100%; /* Tar upp hela bredden */
    align-items: center; /* Vertikal centrering */
    gap: 3rem; /* Avstånd mellan bild och namn */
    padding-right: 2rem;

    .header__picture {
      img {
        width: 350px; /* Fast storlek istället för procent för bättre kontroll */
        height: auto;
        border-radius: 50%;
        box-shadow: var(--shadow-default);
      }
    }

    .header__name {
      display: flex;
      flex-direction: column; /* Gör så <p> och h2 staplas */
      align-items: flex-end;
      width: 100%; /* Gör så att namnet tar upp 100% av bredden */
      margin: 0; /* Tar bort extra marginaler */
      color: var(--color-headings);

      .header__description {
        margin-top: 0.25rem; /* Lite mellanrum under namnet */
        max-width: 18ch; // ungefär 20 tecken innan radbrytning
        text-align: right;
        padding-right: 1.5rem;
        color: var(--color-secondary);
      }
    }
  }
}
}