@use '../../Styles/color' as *;

//Mobile
@media (max-width: 500px) {
.techs {
  display: flex;
  padding: 1.5em;
  height: fit-content;
  width: 95%;
  margin: 0 auto;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-default);
  color: var(--color-font);
  border-radius: 8px;

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__group {
    margin-bottom: 0.5rem;


    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: flex-start;
  }

  &__title {
    font-weight: bold;
    margin-right: 0;
    flex-basis: 100%;
  }

  &__tech {
    margin-bottom: 0.2rem;
    background-color: var(--color-font); // samma som dina project-card__tech
    color: var(--color-secondary); // välj textfärg som syns bra
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
  }
}
}
}

//Desktop
@media (min-width: 501px) {
.techs {
  display: flex;
  padding: 1.5em;
  height: fit-content;
  width: 90%;
  margin: 0 auto;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-default);
  color: var(--color-font);
  border-radius: 8px;

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    margin-right: 0.5rem;
  }

  &__tech {
    background-color: var(--color-font); // samma som dina project-card__tech
    color: var(--color-secondary); // välj textfärg som syns bra
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
  }
}
}
}
