/* Grundläggande reset för att undvika konstiga marginaler */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background-color: var(--color-background);
}

@media (max-width: 500px) {
  /* Bas för hela appen */
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.6;
  }

  /* Basstil för länkar */
  a {
    text-decoration: none;
  }
  /* Responsiv layout */
  body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 501px) {
  #root {
    max-width: 1580px;
    margin: 0 auto;
    padding: 2rem;
  }
}